div {
border: 20px red;
border-radius: 5px;
color: black;
width: auto;
background-color:cadetblues;
padding: 10px;
margin: 5px;
display: inline-block;
}

.container {
    position: relative;
    width: 100%;
    height: 50px; /* Set the height of the container */

}
  
.floating-button {
    position: absolute;
    right: 50%; /* Adjust as needed */
}
  