<table mat-table [dataSource]="termine$" class="mat-elevation-z8">

    <ng-container matColumnDef="ID">
      <b><th mat-header-cell *matHeaderCellDef> ID </th></b>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Title">
      <b><th mat-header-cell *matHeaderCellDef> Title </th></b>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>
  
    <ng-container matColumnDef="Description">
      <b><th mat-header-cell *matHeaderCellDef> Description </th></b>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="Done">
      <b><th mat-header-cell *matHeaderCellDef> Done </th></b>
      <td mat-cell *matCellDef="let element"> {{element.done}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
  <div class="container">

    <button matTooltip="Add Task" class="floating-button" routerLink="/table" routerLinkActive="active" (click)="openAddDialog()"><mat-icon>add</mat-icon></button>  
  
  </div>