<form [formGroup]="taskForm">
  <div class="textboxes">
    <label for="title">Title:</label>
    <input type="text" id="title" formControlName="title">
    <label for="description">Description:</label>
    <textarea id="description" formControlName="description"></textarea>
  </div>
  <button type="submit" (click)="addTodo()" routerLink="/" routerLinkActive="active"><mat-icon>checkmark</mat-icon></button>
  <button routerLink="/" routerLinkActive="active"><mat-icon>close</mat-icon></button>
</form>
