.delete-task-dialog {
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
  }
  
  .mat-dialog-title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .mat-dialog-content {
    margin-bottom: 20px;
    color: #fff;
  }
  
  .mat-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .cancel-button {
    margin-right: 10px;
  }
  
  .delete-button {
    background-color: #dc3545;
  }
  
  .delete-button:hover {
    background-color: #bd2130;
  }
  